.info-container {
    height: auto;
    width: calc(100% - 100px);
    background-color: var(--var-secondary-color);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.413);
    margin: 50px 0px;
    padding: 10px;
    background-blend-mode: multiply;
}

.info-container h1 {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    font-weight: 800;
}

.info-container p {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    font-weight: 300;
    opacity: 0.9;
}