#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  --var-secondary-color: rgb(34, 40, 49);
  --var-accent-color: rgb(45, 112, 134);
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
  284deg,
  #51C9FC 0%,
  #b5e4f6 100%
);
min-height: 100vh;
background-size: cover;
background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

body h1 {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}


