
.shared-post-container {
    position: relative;
    width: calc(100% - 30px);
    max-width: 1600px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    min-height: 800px;
    height: auto;
    overflow: hidden;
    background-color: var(--var-secondary-color);
    display: flex;
}

.post-content-wrapper {
    width: calc(100% - 60px);
    min-height: 100%;
}